<%- include('partials/layout.ejs') -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center"><%= receiver.user_name %></h3>
    <div id="messages" class="messages">
        <% messages.forEach((message, index) =>{%>
        <div class="message"><%=message.text %><small></small></div>
        <% }) %><br>
    </div>
    <form id="send-container">
        <input id="message" type="text" name="sent_message" class="form-ctrl input-box"placeholder="text" required>
        <input id="receiver_id" style="display:none" value="<%= chat.receiver_id %>" name="receiver_id">
        <input id="chat_id"  style="display:none" value="<%= chat.chat_id %>" name="chat_id">
        <button id="send-button" class="btn btn-primary">send</button>

    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/jQuery.js"></script>
    <script src="js/realtime.js"></script>
</div>