<%- include('partials/layout.ejs') -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center"><%= receiver.user_name %></h3>
    <div class="messages">
        <% messages.forEach((message, index) =>{%>
        <div class="message"><%=message.text %><small></small></div>
        <% }) %><br>
    </div>
    <form method="post" action="/send" id="send-container">
        <input type="text" name="sent_message" class="form-ctrl"placeholder="text">
        <input style="display:none" value="<%= chat.receiver_id %>" name="receiver_id">
        <input  style="display:none" value="<%= chat.chat_id %>" name="chat_id">
        <button  type="submit" id="send-button" class="btn btn-primary">send</button>

    </form>
    <script defer src="http://localhost:6000/socket.io/socket.io.js"></script>
  
</div>