<%- include('partials/layout_2.ejs') -%>
<link rel="stylesheet" href="css/chat.css">
<script src="/socket.io/socket.io.js"></script>
<div class="container-fluid">
    <br>
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <span class="back"><a href="/users" ><</a> </span>
    <h4 class="text-center"><%= receiver.user_name %></h4>
    <br>
  
    <div id="messages" class="messages">
       
        <% messages.forEach((message, index) =>{%>
            <% if (message.user_Id!==user.user_id){ %>
        <div  class="message">
            <%=message.text %>
        </div>
        <% }else{ %>
           
            <div id="my-message" class="my-message">
                <%=message.text %>
            </div>
            
            <% } %>
            <% }) %>
           
    </div><br><br>
  
  
    <form id="send-container">
        <input  id="message" type="text" name="sent_message" class="form-ctrl input-box"placeholder="text" required>
        <input id="chat_id"  style="display:none" value="<%= chat.chat_id %>" name="chat_id">
        <button id="send-button" class="btn btn-primary">send</button>

    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/jQuery.js"></script>
    <script src="js/realtime.js"></script>
</div>